<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Listado de Reservas</title>
</head>
<body class="container mt-5">
    <div class="alert alert-dark display-1 text-center">LISTADO DE RESERVAS</div>
    {% if reservas %}
    <table class="table table-striped table-inverse table-responsive">
        <thead class="thead-inverse">
            <tr>
                <th>Id</th>
                <th>Nombre </th>
                <th>Telefono</th>
                <th>Hora y Fecha</th>
                <th>Cantidad</th>
                <th>Estado</th>
                <th>Observacion</th>
            </tr>
        </thead>
        <tbody>
            {% for reserva in reservas %}
            <tr>
                <td>{{ id}}</td>
                <td>{{ reserva.nombreR}}</td>
                <td>{{ reserva.telefono}}</td>
                <td>{{ reserva.fechareserva}}</td>
                <td>{{ reserva.numeroPersonas}}</td>
                <td>{{ reserva.estado}}</td>
                <td>{{reserva.observacion}}</td>
                <td><a href="/actualizarReserva/{{reserva.id}}" class="btn btn-warning btn-5m"><i class="bi bi-pencil"></i></a></td>
                <td><a href="/eliminarReserva/{{reserva.id}}" class="btn btn-danger btn-5m"><i class="bi bi-trash"></i></a></td>
            </tr>
            {% endfor %}

        </tbody>
    </table>
    {% else %}
    <div class="alert alert-primary" role="alert">
        <strong>No se encuentran reservas de mesa en el sistema</strong>
    </div>
    {% endif %}

    <a href="../" class="btn btn-danger">VOLVER</a>
    <a href="../agregarReserva/" class="btn btn-success float-end">AGREGAR RESERVA</a>
    
</body>
</html>